<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick parking</title>
</head>
<body>
    <form action='' method="post" id='form'>
        {% csrf_token %}
        {% for parking in parkings %}
            <button onclick="submit()">
                <input type="text" name = 'parking' value = {{ parking.id }} object={{ object.sno }}>
            </button>
       <br/>
       {% endfor %}
       <input type="submit" hidden>
    </form>      
</body>
<script>
function submit()
{
    form = document.getElementById('form')
    form.submit()
}
</script>
</html>